DIS_D88521GC10/Practice10-2_Exposing_SOAP_as_REST/PaymentValidation_SOADirectServiceBusApp/PaymentValidation_SOADirect_v2/Resources/PaymentValidationRS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:types="http://www.oracle.com/soasample" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PaymentValidationRS">RestService to ValidatePayment SOA service</doc>
   <grammars>
      <xsd:schema xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oracle.com/ValidatePayment" xmlns:types="http://www.oracle.com/soasample">
            <xsd:import namespace="http://www.oracle.com/soasample"/>
               <xsd:import schemaLocation="../../PaymentValidation_SOADirect/Schemas/CanonicalOrder.xsd" namespace="http://www.oracle.com/soasample"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="validate">
            <request>
               <param name="CardNum" style="query" soa:expression="$msg.paymentInfo/types:CardNum" default="" type="xsd:string"/>
               <param name="ExpireDate" style="query" soa:expression="$msg.paymentInfo/types:ExpireDate" default="" type="xsd:string"/>
               <param name="CardName" style="query" soa:expression="$msg.paymentInfo/types:CardName" default="" type="xsd:string"/>
               <param name="AuthorizationAmount" style="query" soa:expression="$msg.paymentInfo/types:AuthorizationAmount" default="" type="xsd:double"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:PaymentStatus" xmlns:cns="http://www.oracle.com/soasample"/>
               <representation mediaType="application/json" element="cns:PaymentStatus" xmlns:cns="http://www.oracle.com/soasample"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
